<?xml version="1.0" encoding="UTF-8" ?>

  <widget xmlns       = "http://www.w3.org/ns/widgets"
          xmlns:gap   = "http://phonegap.com/ns/1.0"
          id          = "com.phonegap.example"
          versionCode = "10" 
          version     = "1.0.0" >

  <name>PhoneGap Example</name>
  <description>
    Shitty program
  </description>
  <author email="nick@bodydatasystems.com">
    Nick
  </author>

  <preference name="phonegap-version" value="3.3.0" />

  <!-- Only build for ios and android -->
  <gap:platform name="ios" />
  <gap:platform name="android" />

  <!-- Core plugins added here -->
  <gap:plugin name="org.apache.cordova.device" />

  </widget>
